<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link href="../../node_modules/normalize.css/normalize.css" rel="stylesheet">
  <link href="../css/app-flex.css" rel="stylesheet">
  <title>Electron Drag &amp; Drop</title>
</head>

<body class="drop">
  <div class="container">
    <div class="center">
      <h1>drop files here</h1>
      <ul class="log">
        <li><a href="index.html">Bulma CSS</a></li>
        <li><a href="photon.html">Photon CSS</a></li>
      </ul>
    </div>
  </div>
  <script src="../js/drop.js"></script>
</body>

</html>
