<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link href="../../node_modules/bulma/css/bulma.css" rel="stylesheet">
  <link href="../css/app-bulma.css" rel="stylesheet">
  <title>Electron Skeleton with Bulma CSS</title>
</head>

<body>
  <div class="columns">
    <div class="column"></div>
    <div class="column main drop">
      <h1 class="title">Electron</h1>
      <p class="subtitle">Skeleton</p>
      <p><a href="photon.html">Photon CSS Version</a></p>
      <p><a href="flex.html">FlexBox Version</a></p>
      <p class="info">Drop some Files here ...</p>
      <ul class="log">
      </ul>
    </div>
    <div class="column"></div>
  </div>
  <script src="../js/drop.js"></script>
</body>

</html>
