<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link href="../../node_modules/bulma/css/bulma.css" rel="stylesheet">
  <link href="../css/app.css" rel="stylesheet">
  <title>Electron Skeleton</title>
</head>

<body>
  <div class="columns">
    <div class="column"></div>
    <div class="column main">
      <h1 class="title">Electron</h1>
      <p class="subtitle">Skeleton</p>
      <p><i>Drop some Files here ...</i></p>
      <ul class="log">
      </ul>
    </div>
    <div class="column"></div>
  </div>
  <script src="../js/drop.js"></script>
</body>

</html>
