@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/opensans-light.eot');
  src: url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light.woff') format('woff'), url('../fonts/opensans-light.ttf') format('truetype'), url('../fonts/opensans-light.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;
  margin: 3em;
}

.title {
  font-size: 3em;
  color: #aeaeae;
}

.subtitle {
  font-size: 1.6em;
  color: #6e6e6e;
  margin: -1em;
}

.main {
  text-align: center;
  background-color: #eff3f5;
  border-radius: 1.5em;
  border: 1px solid #cfd1d5;
  transition: all .75s;
  min-height: 300px;
  padding: 100px;
}

.main:hover {
  border-radius: 5em;
  border: 30px solid #d9f2f5;
}

.info {
  margin-top: 15px;
  font-style: italic;
}

.log {
  margin-top: 15px;
}

.last {
  margin-bottom: 10px;
}
